<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="prosayj.mybatis.multi.mapper.OrdersMapper">

    <resultMap id="ordersMap" type="prosayj.mybatis.multi.pojo.Orders">

        <!--    private int id;
                private Date orderTime;
                private double total;

               -->
        <!-- 第一种方式 -->

        <!--        <result column="uid" property="user.id"></result>
                <result column="username" property="user.username"></result>
                <result column="password" property="user.password"></result>
                <result column="birthday" property="user.birthday"></result>-->

        <!-- 第一种方式 -->
        <result property="id" column="id"/>
        <result property="orderTime" column="order_time"/>
        <result property="total" column="total"/>

        <association property="user" javaType="prosayj.mybatis.multi.pojo.User">
            <result column="uid" property="id"></result>
            <result column="username" property="username"></result>
            <result column="password" property="password"></result>
            <result column="birthday" property="birthday"></result>
        </association>
    </resultMap>

    <select id="findOrderAndUser" resultMap="ordersMap">
        select o.*, u.*
        from orders o,
             user u
        where o.uid = u.id
    </select>

</mapper>