<mapper namespace="com.prosayj.persistence.test.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.prosayj.persistence.test.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.prosayj.persistence.test.pojo.User"
            paramterType="com.prosayj.persistence.test.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>


</mapper>